## IntelliJ Project file
*.iml
## IntelliJ IDEA Project folder
.idea/
## Compiler output
target/
*.class

##sqlite files
*.db

## IntelliJ reports
reports/

##logfile
*.log

## Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
